/* Home Page */
.home {
  background-image: url("../assets/susma.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 80px;
}

.home h4 {
  font-size: 40px;
  padding-bottom: 15px;
  color: aquamarine;
}

.home h1,h2 {
  color: red;
}

.home p {
  color: blanchedalmond;
}

.home .button {
  text-decoration: none;
  color: aqua;
  border: 0;
        /* top  right bot left */
  padding: 140px 14px 14px 150px;
  cursor: pointer;
  font-weight: 700;
  font-size: 40px;
}

/* Policy Page for saving saving space*/
.policy ul{
  list-style-type:circle;
}
.policycontent{
  height:600px;
  padding:50px;
}
.announcement{
  color:black;
}
