@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}

h4 {
  font-size: 20px;
  color: black;
}

h6 {
  font-weight: 700;
  color: black;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* --------------------------------------end of base styles-------------------------------------- */

/* Home Page */
.home {
  background-image: url("../assets/susma.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 80px;
}

.home h4 {
  font-size: 40px;
  padding-bottom: 15px;
  color: aquamarine;
}

.home h1,h2 {
  color: red;
}

.home p {
  color: blanchedalmond;
}

.home .button {
  text-decoration: none;
  color: aqua;
  border: 0;
        /* top  right bot left */
  padding: 140px 14px 14px 150px;
  cursor: pointer;
  font-weight: 700;
  font-size: 40px;
}

